<form>
    <input type="hidden" name="id" th:value="${student.id}" />

    <div class="form-group">
        <label for="name">First Name</label>
        <input
            type="text"
            id="name"
            name="name"
            th:value="(${student.name} != null ? ${student.name} : '')"
            required
            placeholder="Enter Student Name"
            class="form-control" />
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input
            type="text"
            id="age"
            name="age"
            th:value="(${student.age} != null ? ${student.age} : '')"
            required
            placeholder="Enter Student Age"
            class="form-control" />
    </div>

    <button
        hx-post="/main/edit/student"
        hx-target="closest form"
        type="submit"
        class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
        Submit
    </button>

    <button
        th:hx-get="@{/main/get-student/{id}(id = ${student.id})}"
        hx-target="closest form"
        type="button"
        class="bg-red-500 text-white p-2 rounded-md hover:bg-red-700 focus:outline-none focus:shadow-outline-red active:bg-red-800">
        Cancel
    </button>
</form>
