<style>
    @keyframes fade-in {
        from {
            opacity: 0;
        }
    }

    @keyframes fade-out {
        to {
            opacity: 0;
        }
    }

    @keyframes slide-from-right {
        from {
            transform: translateX(90px);
        }
    }

    @keyframes slide-to-left {
        to {
            transform: translateX(-90px);
        }
    }

    .slide-it {
        view-transition-name: slide-it;
    }

    ::view-transition-old(slide-it) {
        animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
            600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
    }

    ::view-transition-new(slide-it) {
        animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
            600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
    }
</style>


<!-- Transition Animations -->

<div class="container">

    <div class="slide-it container">
        <h1 class="h1">Initial Content</h1>
        <button class="btn btn-success" hx-get="/htmx-content-second" hx-swap="outerHTML transition:true"
            hx-target="closest div">
            BEGIN
        </button>
    </div>

    <hr class="hr">

    <!-- Confirming an Action -->

    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <button class="btn btn-danger" hx-get="/confirmed" hx-swap="outerHTML" hx-trigger='confirmed' _="on click
            call Swal.fire({title: 'Confirm', text:'Do you want to continue?'})
            if result.isConfirmed trigger confirmed">
        Click Me
    </button>
</div>